<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
  lang="ja"
>
  <head>
    <title layout:fragment="title">Edit Post</title>
  </head>
  <main layout:fragment="content">
    <h1>Edit Post</h1>
    <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${post.title}" required />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea
          id="content"
          class="form-control"
          name="content"
          th:field="*{content}"
          rows="5"
          th:text="${post.content}"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Update</button>
      <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-secondary">Cancel</a>
    </form>
  </main>
</html>
